@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Syncopate:700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* { margin:0; padding:0; box-sizing:border-box; }
body { 
	background: url("../images/basketballcourt.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	font-family: 'Slabo 27px', serif;
	font-size:18px;
}
header {
		padding: 1em;
}
nav {
	color: rgba(226, 28, 28, .92);
	float: left;
	margin: 0;
	width:7.5em;
}
aside {
	border: 1px black solid;
	color: rgb(32, 35, 36);
	padding: .5em;
	float: right;
}
section {
	border: 1px black solid;
	color: rgb(32, 35, 36);
	float: left;
	font-size: 1em;
	margin: 0 0 1em 3.5em;
	padding: 1em;
	width: 25em;
}
footer{
	background-color: rgba(226, 28, 28, .92);
	clear: both;
	color: rgb(32, 35, 36);
	font-size: .75em;
	padding: 20px;
	text-align: right;
}
h1 {
	color: rgba(226, 28, 28, .92);
	font-family: 'Abril Fatface', cursive;
	font-size: 3.5em;
	text-align: right;
}
h2 {
	font-size: 1.05em;
	padding-bottom: .25em;
}
p {
	line-height: 1.5em;
}
ul {
	line-height: 1.5em;
	margin: 1.25em;
}
a {
	background-color: rgb(32, 35, 36);
	color: rgba(226, 28, 28, .92);
	display: block;
	padding: .5em;
	text-decoration: none;
	width: 7.5em;
}
a:hover {
	color: #fff;
}
#slogan {
	border-bottom: .10em black solid;
	border-top: .10em black solid;
	color: rgb(32, 35, 36);
	font-family: 'Syncopate', sans-serif;
	font-size:1.25em;
	text-align: right;
	padding: .5em 0 .5em 0;
}
#games{
	font-weight: normal;
	line-height: 1.75em;
	list-style-type: none;
}
#contacts {
	border: none;
	float: right;
	width: 14em;
}	
.wrapper {
 	background-color: #fff;
 	border: 1px black solid;
 	margin: auto;
 	padding: 20px;
 	width: 1200px;
 }
#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear:both;
	height: 0;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	float: left;
	padding: 20px;
	width: 30%;
}
#right{
	background-color: #E55B88;
	border-top: 1px black solid;
	float:right;
	padding: 20px;
	width:62%;
}