@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Syncopate:700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* { margin:0; padding:0; box-sizing:border-box; }
body { 
	background: url("../images/basketballcourt.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #000;
	font-family: 'Slabo 27px', serif;
	font-size:24px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 1em;
}
nav {
	background color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	color: #ff0000;
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5em;
	text-align: center;
}
hr {
	margin:auto;
	width: 25em;
}
ul {
	line-height: 1.5em;
}
a {
	color: #ff0000;
}
#slogan {
	font-family: 'Syncopate', sans-serif;
	font-size:1.5em;
	text-align: center;
}
#schedule{
	text-decoration: underline;
}
#games{
	list-style-type: none;
}
.wrapper {
 	background-color: #FFE2B8;
 	border: 1px black solid;
 	margin: auto;
 	padding: 20px;
 	width: 1200px;
 }
